{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Crear Tarea</h1>
                    {{error}}
                    <form action="/task/create/" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{form.as_p}}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
