{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <h1 class="display-1 text-center">Django App</h1>
    <p>Esta es la primer pagina a la que le realizo un despliegue por lo tanto 
        es una version muy temprana pero Funcional se usó para el despliegue Render.com 
        Hecha por Bryan A. Miranda
    </p>
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">Signin</a>
        <a class="btn btn-dark" href="/signup/">Signup</a>
    </div>
</main>

{% endblock %}